{% macro sidebar(current, serviceUid) %}
<div class="govuk-grid-column-one-quarter">
  {% if serviceUid %}
    <p class="govuk-body-m">
      <a href="/services" class="govuk-link govuk-link--no-underline">&laquo; Back to services</a>
    </p>
    <hr class="govuk-section-break govuk-section-break--visible">
    <p class="govuk-body-m">
      <a href="/services/{{ serviceUid }}/dashboard" class="govuk-link govuk-link--no-underline{% if current == 'dashboard' %} govuk-!-font-weight-bold{% endif %}">Dashboard</a>
    </p>
    <p class="govuk-body-m">
      <a href="/services/{{ serviceUid }}/client-configuration" class="govuk-link govuk-link--no-underline{% if current == 'client-configuration' %} govuk-!-font-weight-bold{% endif %}">Client configuration</a>
    </p>
    <p class="govuk-body-m">
      <a href="/services/{{ serviceUid }}/settings" class="govuk-link govuk-link--no-underline{% if current == 'settings' %} govuk-!-font-weight-bold{% endif %}">Settings</a>
    </p>
    <p class="govuk-body-m">
      <a href="/services/{{ serviceUid }}/team-members" class="govuk-link govuk-link--no-underline{% if current == 'team-members' %} govuk-!-font-weight-bold{% endif %}">Team members</a>
    </p>
    <p class="govuk-body-m">
      <a href="/services/{{ serviceUid }}/audit-log" class="govuk-link govuk-link--no-underline{% if current == 'audit-log' %} govuk-!-font-weight-bold{% endif %}">Audit log</a>
    </p>
    <hr class="govuk-section-break govuk-section-break--visible">
    <p class="govuk-body-m">
      <a href="/services/{{ serviceUid }}/make-live" class="govuk-link govuk-link--no-underline{% if current == 'go-live-checklist' %} govuk-!-font-weight-bold{% endif %}">Make your service live</a>
    </p>
  {% else %}
    <p class="govuk-body-m">
      <a href="/dashboard" class="govuk-link govuk-link--no-underline{% if current == 'dashboard' %} govuk-!-font-weight-bold{% endif %}">Dashboard</a>
    </p>
    <p class="govuk-body-m">
      <a href="/client-configuration" class="govuk-link govuk-link--no-underline{% if current == 'client-configuration' %} govuk-!-font-weight-bold{% endif %}">Client configuration</a>
    </p>
    <p class="govuk-body-m">
      <a href="/settings" class="govuk-link govuk-link--no-underline{% if current == 'settings' %} govuk-!-font-weight-bold{% endif %}">Settings</a>
    </p>
    <p class="govuk-body-m">
      <a href="/team-members" class="govuk-link govuk-link--no-underline{% if current == 'team-members' %} govuk-!-font-weight-bold{% endif %}">Team members</a>
    </p>
    <p class="govuk-body-m">
      <a href="/audit-log" class="govuk-link govuk-link--no-underline{% if current == 'audit-log' %} govuk-!-font-weight-bold{% endif %}">Audit log</a>
    </p>
    <hr class="govuk-section-break govuk-section-break--visible">
    <p class="govuk-body-m">
      <a href="/make-live" class="govuk-link govuk-link--no-underline{% if current == 'go-live-checklist' %} govuk-!-font-weight-bold{% endif %}">Make your service live</a>
    </p>
  {% endif %}
</div>
{% endmacro %}