//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here
.govuk-service-navigation__list .govuk-service-navigation__item:last-child {
  margin-left: auto; /* Pushes this item to the far right */
}

hr.govuk-section-break.govuk-section-break--visible {
  margin-bottom: 15px; /* Add some space below section breaks */
}