{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-xl">
      Check these details before creating your service
    </h1>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Service Name
        </dt>
        <dd class="govuk-summary-list__value">
          {{data['clientName']}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/services/create/enter-client-name">Change<span class="govuk-visually-hidden"> name</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Public key type
        </dt>
        <dd class="govuk-summary-list__value">
          {{data['publicKeyType']}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/services/create/select-key-type">Change<span class="govuk-visually-hidden"> public key type</span></a>
        </dd>
      </div>
      {% if data['publicKeyType'] === 'Public key URL (JWKS)' %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            JWKS Endpoint
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['jwksEndpoint']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/services/create/select-key-type">Change<span class="govuk-visually-hidden"> JWKS endpoint</span></a>
          </dd>
        </div> 
      {% endif %}
      {% if data['publicKeyType'] === 'Client secret' %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Client Secret
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['clientSecret']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/services/create/select-key-type">Change<span class="govuk-visually-hidden"> client secret</span></a>
          </dd>
        </div> 
      {% endif %}
      {% if data['publicKeyType'] === 'Fixed public key' %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Static Key
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['staticKey']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/services/create/select-key-type">Change<span class="govuk-visually-hidden"> static key</span></a>
          </dd>
        </div> 
      {% endif %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Redirect url(s)
        </dt>
        <dd class="govuk-summary-list__value">
          {% for url in data['redirectUrlsList'] %}
            {{ url }}<br>
          {% endfor %}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/services/create/redirect-urls">Change<span class="govuk-visually-hidden"> redirect urls</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Scopes
        </dt>
        <dd class="govuk-summary-list__value">
          OpenID
          {% for scope in data['selectedScopes'] %}
            {% if scope | trim !== 'openid' and scope | trim !== '_unchecked' %}
              <br>{{ scope | trim }}
            {% endif %}
          {% endfor %}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/services/create/select-scopes">Change<span class="govuk-visually-hidden"> scopes</span></a>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">Now create your service</h2>

    <form action="/services/create/confirm" method="post" novalidate>

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Create service"
        }) }}

        {{ govukButton({
          text: "Add identity journey configuration",
          classes: "govuk-button--secondary",
          disabled: data['publicKeyType'] === 'Client secret'
        }) }}

        {{ govukButton({
          text: "Add additional configuration",
          classes: "govuk-button--secondary"
        }) }}
      </div>

    </form>

  </div>
</div>
{% endblock %}
