{% extends "layouts/main.html" %}

{% block pageTitle %}
  Redirect URLs – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Redirect URLs</h1>
    <p class="govuk-hint">Add the URLs where users will be sent after signing in.</p>

    {% set existingUrls = data['redirectUrlsList'] or [] %}

    {% if existingUrls.length > 0 %}
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--s">Added URLs</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">URL</th>
            <th scope="col" class="govuk-table__header">Action</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for url in existingUrls %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" style="word-break: break-all;">{{ url }}</td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="/services/create/redirect-urls/remove/{{ loop.index0 }}">Remove<span class="govuk-visually-hidden"> {{ url }}</span></a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}

    <form class="form" action="/services/create/redirect-urls/add" method="post">
      {{ govukInput({
        name: "newRedirectUrl",
        id: "new-redirect-url",
        label: {
          text: "URL",
          classes: "govuk-label--s"
        },
        hint: {
          text: "For example, https://your-service.gov.uk/callback"
        },
        type: "url"
      }) }}

      {{ govukButton({
        text: "Add URL",
        classes: "govuk-button--secondary"
      }) }}
    </form>

    {% if existingUrls.length > 0 %}
      <form action="/services/create/redirect-urls" method="post">
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    {% endif %}

  </div>
</div>

{% endblock %}
