{% extends "layouts/main.html" %}

{% set pageName="Home" %}
{% set headerLink = "Sign in" %}
{% set headerHref = "/sign-in" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}

    <h2 class="govuk-heading-m">Prototype Pages</h2>

    <ul class="govuk-list">
      <li><a href="/start" class="govuk-link">Start</a> - Begin the main process flow</li>
      <li><a href="/sign-in" class="govuk-link">Sign in</a> - Authenticate existing users</li>
      <li><a href="/register" class="govuk-link">Register</a> - Create a new account</li>
      <li><a href="/client-configuration" class="govuk-link">Client Configuration</a> - Configure client settings</li>
      <li><a href="/clients-change" class="govuk-link">Clients Change</a> - Modify client information</li>
      <li><a href="/features" class="govuk-link">Features</a> - View available features</li>
      <li><a href="/services" class="govuk-link">Services</a> - Manage services</li>
      <li><a href="/settings" class="govuk-link">Settings</a> - Adjust application settings</li>
      <li><a href="/team-members" class="govuk-link">Team Members</a> - Manage team members</li>
      <li><a href="/team-members/invite-team-member" class="govuk-link">Invite Team Member</a> - Send invitations to new team members</li>
      <li><a href="/your-account" class="govuk-link">Your Account</a> - View and edit account details</li>
      <li><a href="/sign-in/enter-text-code" class="govuk-link">Enter Text Code</a> - Verify identity via SMS security code</li>
      <li><a href="/audit-log" class="govuk-link">Audit Log</a> - View history of configuration changes</li>
      <li><a href="/dashboard" class="govuk-link">Dashboard</a> - View performance metrics and analytics for One Login integration</li>
    </ul>

  </div>
</div>

{% endblock %}
