{% extends "layouts/main.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  Give another team member the 'manage settings' permission – Make your service live – {{ serviceName }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post" action="/make-live/team-member">

        {{ govukRadios({
          name: "teamMember",
          fieldset: {
            legend: {
              text: "Give another team member the 'manage settings' permission",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "This ensures your service can still be managed if you're unavailable. At least 2 team members should have manage settings permission."
          },
          items: [
            {
              value: "yes",
              text: "Yes, another team member has manage settings permission",
              checked: goLiveChecklist.teamMember
            },
            {
              value: "no",
              text: "No, I need to add another team member first"
            }
          ]
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and continue"
          }) }}

          <a class="govuk-link" href="/make-live">Cancel</a>
        </div>

      </form>

    </div>
  </div>
{% endblock %}
