{% extends "layouts/main.html" %}

{% block pageTitle %}
  Your services – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content" role="main">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Your services</h1>
        <p class="govuk-body">View and manage your services below</p>

        <hr class="govuk-section-break govuk-section-break--visible">
        {% for service in services %}
        <p class="govuk-body-m">
        <a class="govuk-link govuk-link--no-underline govuk-!-font-weight-bold" href="{{ service.link }}" >{{ service.name }}</a>
        </p>
        <hr class="govuk-section-break govuk-section-break--visible">
        {% endfor %}
 

        <a href="/services/add-new-service" class="govuk-button govuk-button--secondary" role="button">Add a new service</a>
      </div>
    </div>

  </main>
</div>

{% endblock %}
