{% extends "layouts/main.html" %}

{% set headerLink = "Sign in" %}
{% set headerHref = "/sign-in" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-width-container sign-in-page">
    <main class="govuk-main-wrapper id="main-content" role="main">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">Sign in</h1>
          <p class="govuk-body">Sign in to your account to manage your services.<br>
            If you do not have an account, you can <a class="govuk-link govuk-link--no-visited-state" href="/register">create one now.</a></p>

          <div class="sign-in-card govuk-box-shadow">
            <form action="/sign-in/enter-text-code" method="post" class="sign-in-form">
              <div class="govuk-form-group">
                <label class="govuk-label" for="email">Email address</label>
                <input class="govuk-input govuk-!-width-two-thirds" id="email" name="email" type="email" spellcheck="false" autocapitalize="off" autocomplete="email">
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="password">Password</label>
                <input class="govuk-input govuk-!-width-two-thirds" id="password" name="password" type="password" autocomplete="current-password">
              </div>

              <button class="govuk-button" data-module="govuk-button">Continue</button>

              <div class="govuk-!-margin-top-4">
               <a class="govuk-link govuk-link--no-visited-state page-footer-secondary-link" href="/forgot-password">Forgotten your password?</a>
              </div>
            </form>
          </div>

        </div>
      </div>

    </main>
  </div>

{% endblock %}
